<div class="sidebarList">
    <p>
        ⌂ ホーム<br>
        # 話題を検索<br>
        🔔 通知<br>
        ✉ メッセージ<br>
        &#x2713; ブックマーク<br>
        &#x2610; リスト<br>
        &#x263A; プロフィール<br>
        &#10065; もっと見る<br>
        <%= link_to 'ツイートする', 'tweets/new' %>
    </p>
</div>