/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

#container{
    width: 980px;
    margin: 0 auto;
    
}
#sidebar{
    width: 250px; float: left;
    text-align: center;
    line-height: 2.5;
    font-size: 0;
}
.sidebarList{
    
    border: solid 1px #eeeeee;
    text-align: center;
}
.sidebarList p {
    font-size: 28px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    text-align: left;
    
}

#header{
    width: 700px; float: right;
    font-size: 0;
    padding: 0px 0px 0px 28px;
    border: solid 1px #eeeeee;
}

.headerList{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}



#content{
    width: 700px; float:  right;
    border: solid 1px #eeeeee;
    padding: 10px 0px 0px 28px;
    overflow:  hidden;
    margin-bottom: 5px;
    display: block;
}
figure{
    width: 50px;
    padding: 0;
    margin: 0;
    float: left;
}
img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.nameID{
    color: #BFC5CA;
    margin-left: 10px;
}
